* {
    font-family: 'Lato', sans-serif;
}

/* #ebebeb #1d1d1 #5db4ab */

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* ---------- Notebooks y PCs ---------- */
@media only screen and (min-width: 992px) {
    header {
        position: sticky;
        top: 0px;
        right: 0px;
        background-color: #5db4ab;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.438);
        /* Agrega la sombra */
        width: auto;
        z-index: 9999;
    }

    section {
        height: auto;
        width: auto;
    }

    .flexbox-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-group {
        margin: 0;
        list-style-type: none;
        overflow: hidden;
    }

    nav {
        border: solid transparent;
        border-width: 2px;
    }

    nav li:not(:first-child) {
        border-left: 1px solid #ebebeb;
        /* Establece el estilo del borde izquierdo según tu diseño */
    }

    nav li {
        padding-left: 5px;
        /* Añade espacio entre el borde izquierdo y el texto del enlace */
        padding-right: 5px;
        /* Añade espacio entre el borde derecho y el texto del enlace */
    }

    .padding-header {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .flexbox-articles-column {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .flexbox-articles-column-sinancholargoventanagrafica {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }

    .flexbox-articles-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
    }

    .flexbox-iconos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .icon {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: -1px;
    }

    .flexbox-footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .parrafo-article {
        text-align: center;
        font-size: large;
        /* margin-left: 10%;
        margin-right: 10%; */
    }

    .parrafo-article-medium{
        text-align: center;
        font-size: medium;
    }

    .parrafo-footer {
        text-align: center;
        font-size: small;
    }

    #margen-izquierdo {
        padding-left: 70px;
    }

    #sect1 {
        background-color: #1d1d1d;
        color: #fff;
        height: 90vh;
        display: flex;
        align-items: center;
        position: relative;
    }

    #sect2 {
        background-color: #5db4ab;
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        height: 100vh;
    }

    #sect4 {
        background-color: rgba(255, 255, 255, 0.678);
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #1d1d1d;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: large;
        transition-property: color;
        transition-duration: 0.4s;
        transition-timing-function: linear;
    }

    li a:hover {
        background-color: rgb(51, 51, 51);
        color: white;
    }

    li a:active {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }

    body {
        position: relative;
        margin: 0;
        min-height: 100vh;
    }

    h1 {
        font-family: 'Lora', sans-serif;
        font-weight: 700;
        color: #1d1d1d;
        margin: 0;
        text-align: center;
        font-size: xx-large;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.233);
    }

    h2 {
        font-family: 'Lora', sans-serif;
        margin: 0;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.233);
    }

    a,
    i {
        color: rgb(0, 0, 0);
    }

    a {
        transition-duration: 0.4s;
        transition-timing-function: linear;
    }

    .linea-horizontal-verde {
        border-top: 4px solid #5db4ab;
        /* Establece el grosor y el color de la línea */
        border-width: 5px;
        width: 10%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.233);
        margin-bottom: 2%;
    }

    .linea-horizontal-blanca {
        border-top: 4px solid #ebebeb;
        /* Establece el grosor y el color de la línea */
        border-width: 5px;
        width: 20%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.233);
        margin-bottom: 2%;
    }

    .iconos-contacto {
        color: #ffffff;
    }

    .mostrar-elemento {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .one:hover {
        animation-name: bounce;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-direction: alternate;
        animation-iteration-count: 3s;
        animation-fill-mode: forwards;
        animation-play-state: running;
        text-shadow: 0 4px 10px #5db4ab;
    }

    .sombra-imagen {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.438);
    }

    .sombra-texto {
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.438);
    }

    .transparencia {
        animation-name: anim-fade-in;
        animation-duration: 1.5s; /* la animacion dura X segundos */
        animation-delay: 0.7s; /* esperamos X segundos antes de hacer la animacion */			
        animation-fill-mode: both; /* aplica estilos de la animacion antes y despues de reproducirla */
    }

    .transparencia-rapida {
        animation-name: anim-fade-in;
        animation-duration: 1.5s; /* la animacion dura X segundos */
        animation-delay: 0.3s; /* esperamos X segundos antes de hacer la animacion */			
        animation-fill-mode: both; /* aplica estilos de la animacion antes y despues de reproducirla */
    }

    /* todas las animaciones pausadas */
    .paused * { 
        animation-play-state: paused;
    }

    @keyframes bounce {

        0%,
        100% {
            transform: scale(1);
        }

        25%,
        75% {
            transform: scale(0.9);
        }

        50% {
            transform: scale(1.1);
        }
    }

    @keyframes anim-fade-in { from { opacity: 0; } to { opacity: 1 } }
    
}