*{
    font-family: 'Lato', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

/* ---------- Notebooks y PCs ---------- */
@media only screen and (min-width: 992px) {
    header{
        position: sticky;
        top: 0px;
        right: 0px;
        background-color: #5db4ab;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.438); /* Agrega la sombra */
    }
    .flexbox-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-group {
        margin: 0;
        list-style-type: none;
        overflow: hidden;
    }
    nav{
        border: solid transparent;
        border-width: 2px;
    }
    nav li:not(:first-child) {
        border-left: 1px solid #1d1d1d; /* Establece el estilo del borde izquierdo según tu diseño */
    }
    nav li {
        padding-left: 5px; /* Añade espacio entre el borde izquierdo y el texto del enlace */
        padding-right: 5px; /* Añade espacio entre el borde derecho y el texto del enlace */
    }
    .padding-header{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .flexbox-articles-sect1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 99.1vw; /* 100% del ancho de la ventana gráfica */
        height: 100vh; /* 100% del alto de la ventana gráfica */
    }
    
    .flexbox-articles-sect2{
        display: flex;
        align-items: center; /* Alineación vertical superior */
        justify-content: center; /* Alineación horizontal */
        flex-direction: column; /* Apilado vertical de elementos */
        padding-left: 50px;
        padding-right: 50px;
        width: 99.1vw;
        height: 100vh;
    }

    /* Añade margen superior al primer artículo para separarlo visualmente del encabezado */
    .flexbox-articles-sect2 > div:first-child {
        margin-top: 20px; /* Ajusta el valor según tu preferencia */
    }

    /* Mantén el margen inferior de los artículos constante para mantener la distancia entre ellos */
    .flexbox-articles-sect2 article {
        margin-bottom: 20px;
    }

    .margenes-articles-bot {
        margin-bottom: 20px;
    }

    .articles-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 20px; /* Espacio entre el encabezado y los artículos */
        width: 100%; /* Asegura que ocupe el ancho completo */
    }
    
    .flexbox-articles-sect3{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: row;
        width: 99.1vw; /* 100% del ancho de la ventana gráfica */
        height: 80vh; /* 100% del alto de la ventana gráfica */
    }

    .flexbox-iconos{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction: row;
    }

    .icon{
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: -1px;
    }
    
    .flexbox-footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    
    .parrafo-article{
        text-align: center;
        font-size: large;
    }

    .parrafo-article-sect2{
        text-align: center;
        font-size: large;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .parrafo-footer{
        text-align: center;
        font-size: small;
    }

    .carousel-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-inner img {
        margin: 0 auto; /* Esto centra la imagen horizontalmente */
        border-radius: 20px;
    }

    .iframe-soundcloud {
        width: 70vw;
        height: 10vw;
    }

    #margen-izquierdo{
        padding-left: 70px;
    }

    #sect1 {
        background-color: #1d1d1d;
        color: #fff;
        width: 99.1vw; /* 100% del ancho de la ventana gráfica */
        height: 100vh; /* 100% del alto de la ventana gráfica */
    }
      
    #sect2 {
        background-color: #5db4ab;
        color: rgb(0, 0, 0);
        width: 99.1vw; /* 100% del ancho de la ventana gráfica */
        height: 100vh; /* 100% del alto de la ventana gráfica */
    }

    #sect3 {
        background-color: #1d1d1d;
        color: #fff;
        width: 99.1vw; /* 100% del ancho de la ventana gráfica */
        height: 90vh; /* 100% del alto de la ventana gráfica */
    }

    #sect4 {
        background-color: rgba(255, 255, 255, 0.678);
        padding-top: 10px;
        width: 99.1vw; /* 100% del ancho de la ventana gráfica */
    }
    
    li {
        float: left;
    }
     
    li a {
        display: block;
        color: #1d1d1d;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: large;
    }
      
    li a:hover {
        background-color: rgb(51, 51, 51);
        color:white;
    }
    
    li a:active {
        background-color: rgb(255, 255, 255);
        color:rgb(0, 0, 0);
    }
    
    body {
        position: relative;
        margin: 0;
    }
    
    h1 {
        font-family: 'Lora', sans-serif;
        font-weight: 700;
        color: #1d1d1d; 
        margin: 0;
        text-align: center;
        font-size: xx-large;
    }
    
    h2 {
        font-family: 'Lora', sans-serif;
        margin: 0;
    }
    
    a, i{
        color:rgb(0, 0, 0);
    }

    .flexbox-img-sect2{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 20px; /* Espacio entre el encabezado y los artículos */
        width: 100%; /* Asegura que ocupe el ancho completo */
    }

    .flexbox-img-sect2-column{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    @keyframes cambiarColor {
        from {color: #1d1d1d;}
        to {color: #ffffff;}
    }
    
}  